<h1 class="title is-2 has-text-centered has-text-weight-bold has-text-primary">Events</h1>

<div id="events" class="columns is-multiline">
  <% @events.each do |event| %>
    <div class="column is-half">
      <%= render event %>
      <a href="<%= event_path(event) %>" class="button is-primary is-fullwidth">Show</a>
    </div>
  <% end %>
</div>