<h1 class="title is-2 has-text-centered has-text-weight-bold has-text-primary">
  New event
</h1>
<p class="subtitle is-5 has-text-centered has-text-weight-bold has-text-gray">
  Lets start creating your event!
</p>

<div class="columns is-multiline">
  <div class="column is-4">
    <%= render "status", event: @event %>
  </div>
  <div class="column is-8">
    <%= render "form", event: @event %>
  </div>
</div>