<div class="columns is-vcentered">
  <div class="column is-5">
    <figure class="image is-3by2">
      <%= image_tag "Calendar.svg", alt: "calendar" %>
    </figure>
  </div>
  <div class="column is-6 is-offset-1">
    <h1 class="title is-2">
      <%= TITLE %>
    </h1>
    <h2 class="subtitle is-4">
      Lets create the events together with only the best people.
    </h2>
    <br>
    <p class="has-text-centered">
      <a class="button is-medium is-info is-outlined" href="<%= events_path %>">
        Learn more
      </a>
    </p>
  </div>
</div>
<div class="columns is-multiline">
  <div class="column is-full">
    <div class="card">
      <header class="card-header">
        <p class="card-header-title">Private Events</p>
      </header>
      <div class="card-content">
        <div class="content">
          <div class="columns">
            <div class="column is-two-thirds">
              <section class="section">
                <h2 class="subtitle">
                  A web platform for creating and attending events
                </h2>
                <p><strong>Private Events</strong> is a web platform that allows users to create and invite others to attend events. </p>
                <p>With <strong>Private Events</strong>, users can easily plan and manage events such as parties, meetings, and gatherings. </p>
                <em>The platform provides users with all the necessary tools to create an event, invite guests, and track attendance.</em>
                <p>Whether you're organizing a small get-together or a large-scale event, 
                <strong>Private Events</strong> makes it easy to stay organized and ensure a successful event.</p>
              </section>
            </div>
            <div class="column">
              <figure class="image is-4by3">
                <img src="https://picsum.photos/800/600/?random" alt="Description">
              </figure>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>