
<h2 class="title is-2 has-text-centered has-text-weight-bold has-text-primary">
  Privacy Policy
</h2>
<p class="subtitle is-4">
  Introduction: This privacy policy outlines the information that the event creator webpage collects and how that information is used. By using the event creator webpage, users consent to the collection and use of their information as described in this privacy policy.
</p>
<br>
<div class="box">
  <h3 class="title is-3">Information collected</h3>
  <p class="subtitle is-5">
    The event creator webpage collects information from users when they create a profile, set their interests, create events, or invite other users to events. This information may include personal information such as name, email address, and location. The event creator webpage may also collect information about users' activity on the event creator webpage, such as the events they create and attend.
  </p>
  <br>
  <h3 class="title is-3">Use of collected information</h3>
  <p class="subtitle is-5">
    The event creator webpage uses the information collected from users to provide and improve the service, to personalize user experience, and to communicate with users about events and other relevant information. The event creator webpage may also use the information for research and analytics purposes.
  </p>
  <br>
  <h3 class="title is-3">Sharing of collected information</h3>
  <p class="subtitle is-5">
    The event creator webpage may share collected information with third parties in order to provide the service, such as payment processors or event venues. The event creator webpage may also share collected information if required to do so by law or in the good faith belief that such action is necessary to protect the rights, property, or safety of the event creator webpage, its users, or the public.
  </p>
  <br>
  <h3 class="title is-3">Security of collected information</h3>
  <p class="subtitle is-5">
    The event creator webpage takes reasonable precautions to protect the information collected from users. However, no data transmission over the internet or storage of information can be guaranteed to be 100% secure. The event creator webpage is not responsible for any unauthorized access to or alteration of collected information.
  </p>
  <br>
  <h3 class="title is-3">Changes to the privacy policy</h3>
  <p class="subtitle is-5">
    The event creator webpage reserves the right to update or modify this privacy policy at any time, and users are encouraged to review the privacy policy periodically.
  </p>
  <br>
  <h3 class="title is-3">Acceptance of privacy policy</h3>
  <p class="subtitle is-5">
    By using the event creator webpage, users acknowledge that they have read, understood, and agree to be bound by this privacy policy.
  </p>
  <br>
  <p class="subtitle is-5">
    <em>Last updated: 2022-12-16</em>
  </p>
</div>
