<% @code = 164254 %>
<div class="content has-text-centeredis-grey-lighter is-fullheight">
  <div class="column is-6 is-offset-3">
    <h1 class="is-large">
      2 Factor Authentication
    </h1>
    <div class="box">
      <h4 class="is-small">
        Put this code in the form to log in to your account
      </h4>

      <div class="flex flex-row">
        <div class="field">
          <input type="text" placeholder="Text input" value="<%= @code %>" readonly id="code" class="input is-success is-rounded is-focused text-2xl items-center">
        </div>
        <button class="button is-success" onclick="copyCode()">Copy</button>
      </div>


    </div>
  </div>
</div>
<script type="text/javascript">
  function copyCode() {
    var copyText = document.getElementById("code");
    copyText.select();
    copyText.setSelectionRange(0, 99999);
    document.execCommand("copy");
  }
</script>