<!-- Make a footer fixed -->
<footer class="footer is-fixed-bottom has-background-black has-text-white-ter small">
  <div class="container">
    <div class="content has-text-centered">
      <div class="soc">
        <a href=""><span class="icon">
          <i class="fab fa-twitter"></i>
        </span></a> &emsp;
        <a href=""><span class="icon">
          <i class="fab fa-facebook"></i>
        </span></a> &emsp;
        <a href=""><span class="icon">
          <i class="fab fa-instagram"></i>
        </span></a> &emsp;
        <a href=""><span class="icon">
          <i class="fab fa-github"></i>
        </span></a> &emsp;
        <a href=""><span class="icon">
          <i class="fas fa-envelope"></i>
        </span></a>
      </div>
      <p>
        <strong class="has-text-white"><%= TITLE %></strong> by <a href="https://github.com/LuisHernandezCoding">Luis Hernandez Coding</a>
      </p>
    </div>
  </div>
</footer>